{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <div class="row">
        {% if travel %}
            <a href="{% url 'pick_category' category='TR' %}"><h3>Travel</h3></a>
            {% for t in travel %}
                <a href="{% url 'listing' item=t.title %}"><li>{{ t.title |title }}</li></a>
            {% endfor %}
        {% else %}
            <h3>Travel</h3>
        {% endif %}
    </div>

    <div class="row">
        {% if food %}
            <a href="{% url 'pick_category' category='FD' %}"><h3>FOOD</h3></a>
            {% for f in food %}
                <a href="{% url 'listing' item=f.title %}"><li>{{ f.title |title }}</li></a>
            {% endfor %}
        {% else %}
            <h3>Food</h3>
        {% endif %}
    </div>

    <div class="row">
        {% if clothing %}
            <a href="{% url 'pick_category' category='CL' %}"><h3>Clothing</h3></a>
            {% for c in clothing %}
                <a href="{% url 'listing' item=c.title %}"><li>{{ c.title |title }}</li></a>
            {% endfor %} 
        {% else %}
            <h3>Clothing</h3>
        {% endif %}
    </div>

    <div class="row">
        {% if adventure %}
            <a href="{% url 'pick_category' category='AV' %}"><h3>Adventure</h3></a>
            {% for a in adventure %}
                <a href="{% url 'listing' item=a.title %}"><li>{{ a.title |title }}</li></a>
            {% endfor %}
        {% else %}
            <h3>Adventure</h3>
        {% endif %}
    </div>

    <div class="row">
        {% if other %}
        <a href="{% url 'pick_category' category='OT' %}"><h3>Other</h3></a>
            {% for o in other %}
                <a href="{% url 'listing' item=o.title %}"><li>{{ o.title |title }}</li></a>
            {% endfor %}
        {% else %}
            <h3>Other</h3>
        {% endif %}
    </div>
</div>
    
{% endblock %}

