{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}BigBiddy{% endblock %}</title>

      <!--jQuery to display form choices in materialize.css-->
      <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script>
        $(document).ready(function() {
        $('select').formSelect();
      });
      </script>
        
      <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->
       <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
        <link type="text/css" media="screen,projection" rel="stylesheet" href="../../static/auctions/styles.css">
        
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
  
        <nav class="teal lighten-2">
            <div class="nav-wrapper">
              <a href="{% url 'home' %}" class="brand-logo">BigBiddy</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'index' %}">Active Listings</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'sell' %}">Sell</a></li>
                <li><a href="{% url 'watchlist' %}">Watchlist</a></li>
                <li><a href="{% url 'category' %}">Categories</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>


                {% else %}

                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        <!--Mobile Navbar-->
          <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'index' %}">Active Listings</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'sell' %}">Sell</a></li>
                <li><a href="{% url 'watchlist' %}">Watchlist</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
        
        <main>
               
        {% block body %}

        {% endblock %}
        </main>
       
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="../../static/auctions/script.js"></script> 
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
  
</html>
