{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if item.active == False %}
            <h3 class="red-text">This auction has ended.</h3>
        {% endif %}
    </div>

    <div class="container">
        <h3>{{ item.title |title }}</h3>
        <p class="flow-text">Posted by {{ item.user |title }} </p>
        <p class="flow-text">{{ item.description }}
            {% lorem %}
        </p>
        <p>Category: <a href="{% url 'pick_category' category='TR' %}"> {{ category |title }}</a></p>
        <img class="list_image" src="{{ item.list_image}}" alt="Image of {{ item.title }}">
        
        
        {% if highbid %}
            <p>Current Bid: ${{ highbid.value }} placed by {{ highbid.user }} </p>
        {% else %}
            <p>Starting Bid: ${{ startbid }} </p>  
        {% endif %} 

        {% if user %}
            {% if watchlist %}
                <p>This item is on your watchlist.</p>
                <form action="{% url 'remove_watch' item.title %}" method="POST">
                    {% csrf_token %}
                <input class="btn waves-effect waves-light" type="submit" name="add_watch" value="Remove Item">
                </form>
            {% else %}
                <p>Add this item to your watchlist.</p>
                <form action="{% url 'add_watch' item.title %}" method="POST">
                    {% csrf_token %}
                <input class="btn waves-effect waves-light" type="submit" name="add_watch" value="Watch Item">
                </form>
            {% endif %}
        {% endif %}
        
        {% if item.active == True %}
            {% if item.user == user %}
            <h3>Close Auction</h3>
            <p>By pressing this button, you agree to accept the Current Bid and declare the auction won. Your listing will no longer be active.</p>
            <form action="{% url 'end' item.title %}" method="POST">
                {% csrf_token %}
                <input class="btn waves-effect waves-light" type="submit" name="end" value="Close Auction">
            </form>

            {% elif user %}    
            <h3>Place Bid</h3>
                {% if messages %}
                    {% for message in messages %}
	                    <h5 class="red-text large">{{ message }}</h5>
	                {% endfor %}
                {% endif %}
                
            <p>Bid must be greater than current bid. All bids must be whole dollar amounts.</p>
            <form action="{% url 'bid' item.title %}" method="POST">
                {% csrf_token %}
                {{ form }}                    
                <input class="btn waves-effect waves-light" type="submit" name="bid" value="Submit">
            </form>

            {% endif %}

        {% elif item.active == False %}
            {% if user == highbid.user %}
                <h3>Congratulations!</h3>
                <p>You won this auction! Contact {{ item.user }} at {{ item.user.email }} to claim your item!</p>

            {% elif user == item.user %}
                {% if highbid %}
                    <h3>Congratulations!</h3>
                    <p>You sold your item for <strong>{{ highbid.value }}</strong>! Contact {{ highbid.user }} at {{ highbid.user.email }} to complete transaction.</p> 
                {% else %}
                    <p>You ended the auction before any bids were placed. </p>
                {% endif %}
            {% endif %}    
        {% endif %}  
    </div>

    <div class="container">
        
        {% for comment in comments %}
            <blockquote class="flow-text">{{ comment.body }} <br> posted by {{ comment.user |title}} on {{ comment.created_on }}
            </blockquote>
        
        {% endfor %}
        
        {% if item.active %}
        
        <h3>Add Comment</h3>
        <form action="{% url 'comment' item.title %}" method="POST">
            {% csrf_token %}
            {{ commform }}
                   
            <input class="btn waves-effect waves-light" name="comment" type="submit" value="Submit">
        </form>
        
        {% endif %}

    </div>
{% endblock %}